<div class="cont-<%= message.user.id %>">
  <div class="d-flex align-items-center">
    <div class="d-flex cont">
        <div class="profile">
          <%= image_tag(message.user.pic) if message.user.pic.attached? %>
        </div>
      <h6 class="name"> <%= message.user.name %></h6>
      <h6 class="dot">.</h6> 
      <h6 class="name"><%= time_ago_in_words(message.created_at) %> ago</h6>
    </div>
  </div>
  <div class="message-box msg-<%= message.user.id %> " >
    <%= message.content %>
  </div>
</div>