<div class ="signin">
  <p class="notice text-warning"><%= notice %></p>
  <div class="d-flex">
    <div class="mx-auto w-50">
      <%= form_tag sessions_path do %>
      <div class="">
        <div class = 'inner-div'>
          <h2>Login</h2>
        
            <%= email_field_tag :email, nil, placeholder: "example@gmail.com", class: 'form-control' %><br>
            <%= password_field_tag :password, nil, placeholder: "Password", class: 'form-control' %><br>
            <%= submit_tag 'Sign In', class: 'btn btn-primary' %>
          </div>
        </div>
      <% end %><br>
      <p class=>Not a member?<%= link_to 'Sign Up', new_user_path, class: 'text-primary'%></p>
    </div>
  </div>
</div>