<div class="sign-up d-flex">
  <p class="notice"><%= notice %></p>
  <div class="w-50 mx-auto mt-40">
    <div class="sign-div">
      <div class="border-form-div">
        <%= form_for(@user, class: "")  do |f| %>
          <% if @user.errors.any? %>
            <div id="error_explanation">
            <h4 class="text-dager"><%= pluralize(@user.errors.count, "error") %> prevented this operation! </h4>

            <div>
              <% @user.errors.full_messages.each do |message| %> 

                <p class="text-danger"><%= message %></p>
              <% end %>
            </div>
          <% end %>
        <% end %>
      </div>

      <h2>Sign up</h2>

      <%= form_for @user do |f| %>
          
        <div class="field">

          <%= f.text_field :name, autofocus: true, autocomplete: "name", placeholder: 'name', class: 'form-control', :required => true %><br>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: 'example@gmail.com', class: 'form-control', :required => true %><br>
          <%= f.password_field :password, placeholder: 'password', class: 'form-control', :required => true %><br>
          <%= f.password_field :password_confirmation, placeholder: "Confirm Password", class: 'form-control' %><br>
        </div>
        <div class="actions">
          <%= f.submit "Sign up", class: 'btn btn-primary' %>
        </div>
      <% end %>
        <p class=>Aready a member?<%= link_to 'Sign In', new_session_path, class: 'text-primary'%></p>
    </div>
  </div>
</div>