<div id="chatroom_container" class="row bg-dark text-light p-3">
  <div id="side_panel" class="col-md-4 col-sm-12 mr-2">
    <h5><%= current_user.name %></h5>
    <h4>Users</h4>
      <%= turbo_stream_from "users" %>
      <div id="users">
          <%=render @users %>
      </div>
    <h4>Rooms </h4>
      <%= turbo_stream_from "rooms" %>
      <div id="rooms">
          <%= render @rooms%>
      </div>
    <%= render 'layouts/new_room' %>
  </div>
  <div id="room_container" class="cont-room col-md-8 col-sm-12 bg-dark text-light">
    <%if @single_room %>
      <div class="message-body pr-5" id="single_room">
          <h4 class="text-center text-black">
            <strong><%= @user&.name || @single_room.name %></strong>
          </h4>
          <%= turbo_stream_from @single_room%>
          <div class="messages" id="messages">
            <%= render @messages %>
          </div>
        <div class="send-sms" id="send-message">
            <%= render 'layouts/new_message' %>
        </div>
    <% end %>
    </div>
  </div>
</div>
