<div class="section">
  <div id="chatroom_container" class="row text-light p-3">
    <div id="side_panel" class="col-md-8 col-sm-12 mr-2">
      <div class="friends bg-white">
        <h4 class="titles text-dark">Friends</h4>
        <%= turbo_stream_from "users" %>
        <div class="rounded-3" id="users">
            <%=render @users %>
        </div>
      </div>
    </div>
    <div id="chat-panel" class="col-md-4 col-sm-12">
      <div class="rooms-cont bg-white">
        <h4 class="titles text-dark">Rooms </h4>
          <%= turbo_stream_from "rooms" %>
          <div class="rounded-t-3" id="rooms">
            <%= render @rooms%>
          </div><br/>
        <%= render 'layouts/new_room' %>
      </div>
    </div>
  </div>
  <div id="room_container" class="cont-room text-light" data-controller="toggle" data-toggle-change-class="hidden">
      <%if @single_room %>
        <div class="message-body" id="single_room">
            <h4 class="d-flex sms-chat text-white bg-primary">
              <strong><%= @user&.name || @single_room.name %></strong>
              <span class="close">&times;</span>
            </h4>
            <%= turbo_stream_from @single_room%>
            <div class="messages" id="messages">
              <%= render @messages %>
            </div>
          <div class="send-sms" id="send-message">
              <%= render 'layouts/new_message' %>
          </div>
      <% end %>
    </div>
  </div>
</div>